<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>

	<typeAliases>
		<typeAlias alias="Student" type="com.mybatis.poc.Student" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@indlin500:1521:cenarm11" />
				<property name="url" value="jdbc:oracle:thin:@indlin500:1521:cenarm11" />
				<property name="username" value="CRAMER_COMMON" />
				<property name="password" value="CRAMER_COMMON" />
				<property name="username" value="CRAMER" />
				<property name="password" value="CRAMER" />
			</dataSource>
		</environment>
	</environments>


	<mappers>
		<mapper resource="student.xml" />
	</mappers>

</configuration>